.title {
    color: #ffffff
    
}

.form-container {
    text-align: center;
    margin-bottom: .75rem;
    
}

Img {
    margin:1vh;
    border-radius: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.main-container  {
 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-button {
display: inline-block;
outline: 0;
text-align: center;
cursor: pointer;
height: 34px;
padding: 0 13px;
color: #fff;
vertical-align: top;
border-radius: 3px;
border: 1px solid transparent;
background: rgb(158, 63, 0);
border-color: rgb(158, 63, 0);
font-weight: 600;
text-transform: uppercase;
line-height: 16px;
font-size: 11px;

}

.nav-bar {
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 63, 0);
    width:100%;
    color: #ffffff
    
}

p {
    font-size: 1rem;
    margin-top:-2rem
}

h3 {
    font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Ephesis', cursive;
    font-size: 2rem;
}